/* ========== Main Styles ========== */

html{
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
}

.section-head{
  text-align: center;
  font-family: 'Damion', cursive;
  margin-bottom: 50px;
  color: #044C29;
  font-size: 4em;
}

.section-head-white{
  text-align: center;
  font-family: 'Damion', cursive;
  margin-bottom: 50px;
  color: #A1FF93;
  font-size: 4em;
}

p{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 1px;
}

/* ========== NAV BAR ========== */

.navbar-inverse{
    background-color: transparent;
    border: none;
}

.navbar-fixed-top .navbar-brand {
    color: #A1FF93;
    font-family: 'Damion', cursive;
    font-size: 2em;
    background: none;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-fixed-top .navbar-brand:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid #A1FF93;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-fixed-top .navbar-brand:hover:after {
    color: white;
    width: 100%;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #A1FF93;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

 .navbar-inverse .navbar-nav > .active > a, 
 .navbar-inverse .navbar-nav > .active > a:hover, 
 .navbar-inverse .navbar-nav > .active > a:focus {
      color: #00261C;
      background: #A1FF93;
      font-weight: 800;
 }

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus{
    background: none;
    border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
    padding: 2px;
}

/* ========== VIDEO HEADER ========== */

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

/* ========== Header ========== */

.title-container{
  text-align: center;
  padding-right: 15px;
  padding-left: 15px
}

.head-text{
	font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 24px black;
	font-weight: 800;
	font-size: 4em;
}

.head-subtext{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 1.75em;
  text-shadow: 2px 2px 24px black;
}

/* Social media icon */
.down-button {
    background: transparent;
    border: 4px solid #A1FF93;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    width: 3.6rem;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.down-button:hover {
    background-color: rgba(161, 255, 147, 0.25);
}

/* Circle */
.down-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    width: 0;
}

/* Icons */
.down-button i {
    color: #A1FF93;
    height: 3.2rem;
    left: 0;
    line-height: 3.3rem;
    position: absolute;
    top: 0;
    width: 3.25rem;
    z-index: 10;
}


/* Adjust to change size of circle */
html {
    font-size: 20px;
}

/* ========== About ========== */

.about-section {
    padding-top: 75px;
    padding-bottom: 75px;
    background: #eee;
}

.about-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #044C29;
}


/* ========== Projects ========== */

.projects-section {
    padding-top: 75px;
    padding-bottom: 75px;
    background: #fff;
}

.project-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #044C29;
}

.project-link{
  text-decoration: none;
  position: relative;
  color: #167F39;
  font-size: 1.2em;
}

.project-link:hover{
  color: #167F39
}

.project-link:visited{
  color: #167F39;
}

.project-link:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #45BF55;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.project-link:hover:after{
  width: 100%;
}

/* - Modal - */

body.modal-open {
    overflow: visible;
}

/* close modal */
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

.close-btn{
  text-align: center;
  background-color: transparent;
  border: 2px solid #C91A00;
  color: #C91A00;
  padding: 10px 25px 10px 25px;
  font-size: 1.2em;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.close-btn:hover{
  color: white;
  background-color: #C91A00;
  border: 2px solid #C91A00;
}

.modal-title{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #044C29;
}

.project-text{
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.portfolio-links{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.rz-img, .appshare-logo{
  height: 60%;
  width: 60%;
}

/* ========== Contact ========== */

.contact-section {
    padding-top:75px;
    padding-bottom: 75px;
}

.contact-subhead{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
}

.contact-content{
  text-align: center;
  color: white;
}

.contact-btn{
  margin-top: 50px;
  padding: 15px;
  font-family: 'Damion', cursive;
  color: #A1FF93;
  font-size: 2.5em;
  background-color: transparent;
  border: 3px solid #A1FF93;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.contact-btn:visited{
  color: white;
}

.contact-btn:hover{
  color: #00261C;
  background-color: #A1FF93;
  border: 3px solid #A1FF93;
}

.contact-btn:active{
  background-color: transparent;
  color: white;
}

/* ========== Footer ========== */

.fade-to-black{
    height: 200px;
    background: black;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    margin-top:25px;
    margin-bottom: -75px;
}

footer{
    padding-top:75px;
    padding-bottom: 25px;
    background-color: black;
    text-align: center;
    color: white;
}

.social{
  padding: 10px;
  color: #A1FF93;
   -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.social:hover{
  color: #45BF55;
}

/* ========== Media Queries ========== */

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: rgba(0,38,28,0.95);
    }

    .top-nav-collapse:hover {
        padding: 0;
        background-color: rgba(0,38,28,1);
    }
}

/* 768px is the breakpoint where navbar collapses */
@media(max-width:768px) {

    .navbar-inverse{
      background-color: rgba(0,38,28,0.95);
    }

    .navbar-inverse .navbar-nav > li > a {
      color: white;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      text-align: center;
      font-size: 1.5em;
      padding: 20px;
}
    
    .navbar-inverse .navbar-nav > .active > a, 
    .navbar-inverse .navbar-nav > .active > a:hover, 
    .navbar-inverse .navbar-nav > .active > a:focus {
      color: #A1FF93;
      background: none;
    }

  /* hide close modal */
  .portfolio-modal .close-modal {
    display: none;
  }

  .portfolio-modal .close-modal .lr {
    display: none;
  }
  .portfolio-modal .close-modal .lr .rl {
    display: none;
  }
}